node_modules
#.env for first time i commited this env file for demo removing keys and all, dont ever commit in repo

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
